<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:icon="@mipmap/ds_launcher"
        android:roundIcon="@mipmap/ds_launcher_round">
        <activity
            android:name=".design.MyDiveLogDesignActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity exists, but no launcher here -->
        <activity android:name=".app.MyDiveLogActivity" />
    </application>
</manifest>
