<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:icon="@mipmap/app_launcher"
        android:roundIcon="@mipmap/app_launcher_round"
        android:label="My Dive Log">
        <activity
            android:name=".app.MyDiveLogActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.view.certificates.create.CreateCertificateActivity"/>
    </application>
</manifest>
